#body-porta {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#paginaActual {
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
}

#btnCont {
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
}

/* DATOS PERSONALES */
#card-inicio {
    background-image: url(../src/img/geo-icon.png);
    border: 2px solid black;
}

#inicio-titulos {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.50);;
    text-align: center;
}

#icono {
    align-items: center;
}

#body-iconos {
align-items: center;
}

#img-badge {
    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

/* SOBRE MÍ */
#container-me {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-radius: 20px;
}

#sobre-mi {
    text-align: center;
    background: #000;
    color: #FFF;
    border-radius: 20px 20px 0 0;
}

#body-me {
    background: #9E9BFE;
    border-radius: 0 0 20px 20px;
}

#tit-me {
    padding-bottom: 30px;
    color: #4D4D4D;
    background-color: #F7F6F3;
    
}

#cards-me {
    padding: 30px;
    text-align: justify;
    color: #4D4D4D;
    background-color: #F7F6F3;
    border-radius: 12px;
    
}

/* SKILLS */
#container-sk {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-radius: 20px;
}

#skills {
    text-align: center;
    background: #000;
    color: #FFF;
    border-radius: 20px 20px 0 0;
}

#body-sk {
    background: #9E9BFE;
    border-radius: 0 0 20px 20px;
}

#tit-sk {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #4D4D4D;
    background-color: #F7F6F3;
    
}

#cards-sk {
    padding: 30px;
    text-align: justify;
    color: #4D4D4D;
    background-color: #F7F6F3;
    border-radius: 12px;
    object-fit: contain;
}

#tec-sk {
    background-color: black;
    color: white;
    border-radius: 15px;
    letter-spacing: 5px;
    text-align: center;
    padding: 1%;
}

/* TECNOLOGÍAS Y HERRAMIENTAS */
.image-row {
    display: flex;
    flex-wrap:nowrap;
    gap: 20px;
    align-items: center;
    padding: 2%;
}

/* CARRUSEL */
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  #body-carr {
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    background-image: url(../src/img/geo-proy.png);
    border-radius: 0 0 20px 20px;
  }

  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid #4D79FF;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid #4D79FF;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid #4D79FF;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid #4D79FF;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 5px solid #4D79FF;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

 .item {
  text-align: center;
  padding: 2%;
 }

 #titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
 }

#proyectos {
    text-align: center;
    background: #000;
    color: #FFF;
    border-radius: 20px 20px 0 0;
}

#img-proy {
    padding: 3%;
}

#btn-proy {
    background-color: white;
    color: black;
}

/* CONTACTO */
#contacto {
    background-color: #9E9BFE;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

#body-cont {
    padding: 5%;
    background-color: #000;
    border-radius: 0 0 20px 20px;
    color: white;
    text-align: center;
}

#container-cont {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    border-radius: 20px;
  }

#btnEnviar {
    margin: 2%;
}

/* FOOTER */
#footer {
    background-image: url(../src/img/geo-nav.png);
    color: black;
}

.nav-link {
    color: black;
}

#footer-titulos {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
    padding: 16px;
}

#card-footer {
    background: transparent;
    border: 2px solid transparent;
}

#card-foot {
    background: transparent;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

#iconos-footer {
    align-items: center;
}

  .card-body-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
 /*Animaciones*/
 @keyframes ajo{
   from{
              opacity: 1;
          }
          to{
              opacity: 0.5;
          }
      }
      .ajo{
          animation-name: ajo;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-direction: alternate-reverse;
      }